.mutiu {
  color: wheat;
  display: flex;
}
.container-one {
  background-color: rgba(8, 8, 190, 0.822);
  width: 100%;
  height: 250px;
}
form {
  width: 45%;
  margin-left: auto;
  margin-top: 2%;
}
